/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.fit {
  min-height: 100vh;
  min-width: 80vw;
}

.custom-font-size {
  font-size: 10vw;
  max-width: 1220px;
  max-height: 220px;
  text-overflow: ellipsis;
  white-space: none;
}

.custom-btn-sizing {
  min-width: 160px;
}

@media screen and (min-width: 1200px) {
  .custom-font-size {
    font-size: 150px;
  }
}

.icon {
  filter: invert(100%);
}
